@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(74.86deg, #DADADA 25.92%, #DADADA 25.93%, #FFFFFF 80.58%, #FFFFFF 80.58%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 100px;
    mix-blend-mode: darken;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item-loja{
    position: absolute;
    width: 350px;
    left: 570px;
    top: 35px;

    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    text-align: center;

    color: #000000;
}

.conteudo {
    border-top: 30px solid #FD5151;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 200;
    font-size: 32px;
    color: #000000;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background-color: #000000;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #fff2e7;
}